{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <h3>Featured Recipes</h3>
    <ul>
      {{ with .Site.Taxonomies.tags.featured }}
        {{ range first 3 . }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    <h3>Recent Recipes</h3>
    <ul>
      {{ range ( first 3 ( where .Site.Pages "Type" "recipes" ) ) }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
      </li>
      {{ end }}
    </ul>

  </main>
{{ end }}
